#nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: black;
  padding: 7px;
  display: inline-block;
  transition: background-color 0.5s ease;
  border-radius: 10px;
}
a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7px;
}
